@font-face {
    font-family:'SF Pro Display';
    font-style:normal;
    font-weight:600;
    src:local('â˜ºï¸Ž'), url("./fonts/SF-Pro-Display/v1/sf-pro-display_semibold.woff2") format("woff2");
    /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
    font-family:'SF Pro Display';
    font-style:normal;
    font-weight:400;
    src:local('â˜ºï¸Ž'), url("./fonts/SF-Pro-Display/v1/sf-pro-display_regular.woff2") format("woff2");
    /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
    font-family:'SF Pro Text';
    font-style:normal;
    font-weight:600;
    src:local('â˜ºï¸Ž'), url("./fonts/SF-Pro-Text/v1/sf-pro-text_semibold.woff2") format("woff2");
    /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
    font-family:'SF Pro Text';
    font-style:normal;
    font-weight:700;
    src:local('â˜ºï¸Ž'), url("./fonts/SF-Pro-Text/v1/sf-pro-text_bold.woff2") format("woff2");
    /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
    font-family:'SF Pro Text';
    font-style:normal;
    font-weight:400;
    src:local('â˜ºï¸Ž'), url("./fonts/SF-Pro-Text/v1/sf-pro-text_regular.woff2") format("woff2");
    /* (C) 2015 Apple Inc. All rights reserved.*/
}

@font-face {
    font-family:'SF Pro Icons';
    font-style:normal;
    font-weight:400;
    src:local('â˜ºï¸Ž'), url("./fonts/SF-Pro-Icons/v1/SFProIcons_regular.woff") format("woff");
    /* (C) 2015 Apple Inc. All rights reserved.*/
}

